@charset "utf-8";

/* Detail */
.detail {
  padding: 80px 0;
  background-color: var(--color-bg);
  clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
}
.detail__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.detail__title {
  font-size: 1.375rem;
  font-weight: 500;
  text-align: center;
}
.detail__text {
  margin-top: 30px;
  font-size: 1rem;
  line-height: 1.8;
}
.detail__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .detail {
    padding: 100px 0;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  }
  .detail__inner {
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
  }
  .detail__image {
    width: 55%;
  }
  .detail__content {
    width: 40%;
  }
  .detail__title {
    text-align: left;
  }
  .detail__text {
    margin-top: 40px;
  }
}

/* Flow */
.flow__inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.flow__item {
  display: flex;
  gap: 20px;
}
.flow__step {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  padding-top: 10px;
  background-color: var(--color-bg);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  font-weight: bold;
  text-align: center;
}
.flow__step-label {
  display: block;
  font-size: 0.875rem;
}
.flow__step-number {
  display: block;
  font-size: 2rem;
}
.flow__title {
  font-size: 1.125rem;
  font-weight: 500;
}
.flow__text {
  margin-top: 15px;
  font-size: 0.875rem;
  line-height: 1.8;
}
.flow__link {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .flow__inner {
    gap: 50px;
  }
  .flow__item {
    gap: 7%;
  }
  .flow__step {
    padding-top: 20px;
    width: 160px;
    height: 140px;
  }
  .flow__step-labe {
    font-size: 1.125rem;
  }
  .flow__step-number {
    font-size: 3.5rem;
  }
  .flow__title {
    font-size: 1.375rem;
  }
  .flow__text {
    font-size: 1rem;
  }
}
