@charset "utf-8";

/* Mainvisual */
.mainvisual {
  padding: 60px 0 90px;
  background-color: var(--color-bg);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.mainvisual__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainvisual__content {
  margin: 0 auto;
}
.mainvisual__catch {
  font-size: 2rem;
  font-weight: bold;
}
.mainvisual__line {
  display: inline-block;
  background: var(--color-white);
  margin-bottom: 10px;
}
.sp-inline {
  display: inline;
}
.pc-only {
  display: none;
}
.mainvisual__lead {
  margin-top: 20px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6;
}
.mainvisual__image {
  max-width: 560px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .mainvisual {
    padding: 70px 0 160px;
  }
  .mainvisual__inner {
    flex-direction: row;
    justify-content: space-between;
  }
  .mainvisual__catch {
    font-size: 3rem;
  }
  .sp-inline {
    display: none;
  }
  .pc-only {
    display: inline-block;
  }
  .mainvisual__lead {
    margin-top: 30px;
    font-size: 1rem;
  }
  .mainvisual__image {
    margin: 0;
  }
}

/* Reason */
.reason__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}
.reason__item {
  max-width: 250px;
}
.reason__title {
  margin-top: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}
.reason__text {
  margin-top: 20px;
  font-size: 1rem;
}
.reason__img {
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .reason__list {
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
  }
}

/* Service */
.service {
  padding: 80px 0;
  background-color: var(--color-bg);
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}
@media screen and (min-width: 768px) {
  .service {
    padding: 120px 0;
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
  }
}

/* Price */
.price {
  margin-top: -45px;
  padding: 80px 0;
  background-color: var(--color-bg);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}
@media screen and (min-width: 768px) {
  .price {
    margin-top: -80px;
    padding: 120px 0;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  }
}

/* feature コンポーネント */
.c-feature {
  display: flex;
  flex-direction: column-reverse;
}
.c-feature__content {
  padding: 20px 30px;
  background-color: var(--color-white);
}
.c-feature__heading-en {
  display: block;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.c-feature__heading-ja {
  display: block;
  font-size: 0.75rem;
  font-weight: normal;
}
.c-feature__text {
  margin-top: 20px;
  font-size: 0.875rem;
  line-height: 1.8;
}
.c-feature__link {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  padding: 10px 30px;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 0.875rem;
}
.c-feature__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  width: 7px;
  height: 7px;
  border-top: 2px solid var(--color-white);
  border-right: 2px solid var(--color-white);
  transform: translateY(-50%) rotate(45deg);
}
.c-feature__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (min-width: 768px) {
  .c-feature {
    flex-direction: row;
  }
  .c-feature--reverse {
    flex-direction: row-reverse;
  }
  .c-feature__content {
    width: 50%;
  }
  .c-feature__image {
    width: 50%;
  }
  .c-feature__img {
    object-fit: cover;
  }
}

/* Voice */
.voice__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.voice__item + .voice__item {
  margin-top: 40px;
}
.voice__item--reverse {
  flex-direction: row-reverse;
}
.voice__content {
  position: relative;
  padding: 10px;
  border: 1px solid var(--color-gray-500);
  border-radius: 8px;
  line-height: 2;
}
.voice__content::before {
  position: absolute;
  top: 50%;
  content: "";
  width: 18px;
  height: 18px;
  border-top: 1px solid var(--color-gray-500);
  border-right: 1px solid var(--color-gray-500);
  background-color: var(--color-white);
  right: 0;
  transform: translate(50%, -50%) rotate(45deg);
}
.voice__item:nth-child(odd) .voice__content::before {
  right: 0;
  transform: translate(50%, -50%) rotate(45deg);
}
.voice__item:nth-child(even) .voice__content::before {
  left: 0;
  transform: translate(-50%, -50%) rotate(-135deg);
}
.voice__text {
  font-size: 0.875rem;
}
.voice__highlight {
  background: linear-gradient(transparent 50%, var(--color-bg) 50%);
  font-weight: bold;
}
.voice__meta {
  font-size: 0.875rem;
  text-align: right;
}
.voice__image {
  flex-shrink: 0;
  width: 100px;
}
.voice__img {
  border: 1px solid var(--color-gray-200);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .voice__item {
    gap: 40px;
  }
  .voice__content {
    padding: 20px;
    font-size: 1rem;
  }
  .voice__image {
    width: 100%;
    max-width: 182px;
  }
}
